<div class="tabla-acciones">
  <button class="boton-accion" (click)="abrirModalAgregar()">➕ Agregar</button>
  <button class="boton-accion" (click)="abrirModalFiltrar()">🔍 Filtrar</button>
  <button
    class="boton-accion"
    *ngIf="filtroActivo"
    (click)="quitarFiltro()">
    ❌ Quitar filtro
  </button>
</div>

<div class="tabla-contenedor" *ngIf="!cargando; else cargandoTpl">
  <table class="tabla-fija">
    <thead>
      <tr>
        <th>N°</th>
        <th *ngFor="let col of columnas" (click)="ordenarPor(col)">
          {{ col }}
          <span *ngIf="ordenColumna === col">
            {{ ordenAscendente ? '⬆️' : '⬇️' }}
          </span>
        </th>
        <th>Acciones</th>
        <th>Otros</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos$ | async; let i = index">
        <td>{{ i + 1 }}</td>
        <td *ngFor="let col of columnas">
          <ng-container *ngIf="esReferencia(col); else valorDirecto">
            <ng-container *ngIf="item[col] as ref">
              {{ ref | refDisplay:obtenerColeccion(col):obtenerCampo(col) | async }}
            </ng-container>
          </ng-container>
          <ng-template #valorDirecto>
            {{ item[col] }}
          </ng-template>
        </td>

        <td>
          <button class="boton-accion" (click)="abrirModalEditar(item)">Editar</button>
          <button class="boton-accion" (click)="eliminar(item)">Eliminar</button>
        </td>
        <td *ngIf="subcolecciones.length > 0">
          <ng-container *ngFor="let sub of subcolecciones">
            <button (click)="seleccionarSubcoleccion(item.id, sub)">
              {{ sub }}
            </button>
          </ng-container>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<ng-template #cargandoTpl>
  <div>Cargando datos...</div>
</ng-template>

<app-modal-formulario *ngIf="(modal.visible$ | async)"></app-modal-formulario>

<app-modal-filtrar
  *ngIf="mostrarModalFiltro"
  [columnas]="columnasVisibles"
  (aplicarFiltro)="filtrarTabla($event)"
  (cancelarFiltro)="mostrarModalFiltro = false">
</app-modal-filtrar>