<div class="panel-izquierdo">
  <ng-container *ngIf="authService.currentUser$ | async as usuario">
    <div class="encabezado-usuario">
      <img [src]="usuario.fotoUsua" alt="Foto de perfil" class="foto-usuario" />
      <div class="info-usuario">
        <div class="nombre">{{ usuario.nombUsua }} {{ usuario.apelUsua }}</div>
        <div class="rol">{{ usuario.rolUsua }}</div>
      </div>
    </div>

    <ul class="lista-accesos">
      <li *ngFor="let item of accesosPorRol(usuario.rolUsua)" (click)="irA(item)">
        {{ item }}
      </li>
    </ul>
  </ng-container>
  <button (click)="logout()">Cerrar sesión</button>
</div>